<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <label for="stock_code">股票代码：</label>
    <input type="text" id="stock_code" name="stock_code">
    <button type="submit">查询</button>
  </form>
  
  <table>
    <thead>
      <tr>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>股票市值</th>
        <th>股票价格</th>
        <th>日期</th>
        <th>时间</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
      <tr>
        <td>{{ stock.name }}</td>
        <td>{{ stock.code }}</td>
        <td>{{ stock.market_cap }}</td>
        <td>{{ stock.price }}</td>
        <td>{{ stock.date }}</td>
        <td>{{ stock.time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  