<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <label for="stock_code">股票代码：</label>
    <input type="text" id="stock_code" name="stock_code">
    <button type="submit">查询</button>
  </form>
  
  <table>
    <thead>
      <tr>
        <th>股票名称</th>
        <th>股票代码</th>
        <th>股票市值</th>
        <th>股票价格</th>
        <th>日期</th>
        <th>时间</th>
      </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
          <td>{{ stock.name }}</td>
          <td>{{ stock.code }}</td>
          <td>{{ stock.market_cap|floatformat:"-4" }} 万亿</td>
          <td>{{ stock.buy_price|floatformat:"-4" }} 万亿</td>
          <td>{{ stock.sell_price|floatformat:"-4" }} 万亿</td>
          <td>{{ stock.price }}</td>
          <td>{{ stock.date }}</td>
          <td>{{ stock.time }}</td>
          <td>
            <form action="{% url 'update_price' stock.id %}" method="post">
              {% csrf_token %}
              <label for="buy_price">Buy Price:</label>
              <input type="text" id="buy_price" name="buy_price">
              <label for="sell_price">Sell Price:</label>
              <input type="text" id="sell_price" name="sell_price">
              <input type="submit" value="Update Price">
            </form>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  
